.DS_Store

Pipfile.lock
.idea
__pycache__/
.DS_Store
data/cleaned/
data/raw/
*.csv
*.xlsx
*.pkl
venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
pip-log.txt
pip-delete-this-directory.txt
